*{
    color: brown;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

header {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: darkseagreen;
    margin-bottom: 2%;
    padding: 1% 1%;
    text-transform: uppercase;
}

/* Headline Format */
h1 {
    font-size: 400%;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    width: 40%;
}

p {
    font-size: 90%;
}

/* Navigation Format */
nav ul{
    display: flex;
    justify-content: flex-end;
    font-size: 160%;
    font-weight: 550;
}

nav li{
    padding: 1%;
    margin: 5%;
}

nav a{
    border-bottom: 3px solid brown;
    color: brown;
}

/* About Format */
#about {
    display: flex;
    margin: 2%;
}

#about img {
    width: 300px;
    height: 250px;
}

#work {
    height: 300px;
}

#contact {
    height: 300px;
}
