:root {
    --bkg:rgb(110, 90, 59);
    --green: #014421;
    --red: #c0bda5;

}

*{
    color: var(--red);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bkg);
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--green);
    margin-bottom: 2%;
    padding: 1% 1%;
    text-transform: uppercase;
}

/* Heading Format */
h1 {
    font-size: 400%;
    font-family:'Times New Roman', Times, serif;
}

h2 {
    /* ? I want my headers to adjust in size */
    font-size: 300%;
    font-family:'Times New Roman', Times, serif;
    width: 17%;
}

p {
    font-size: 125%;
    padding: 0% 2%;
}

/* Navigation Styling */
nav ul{
    display: flex;
    justify-content: flex-end;
    font-size: 160%;
    font-weight: 550;
}

nav li{
    padding: 1%;
    margin: .6em;
}

nav a{
    border-bottom: 3px solid var(--red);
    color: var(--red);
}

/* Content Styling */
.content {
    display: flex;
    margin: 4% 2% 6% 2%;
}

/* About Styling */
.flex-info {
    display: flex;
    border-left: 5px solid var(--green);
    padding-left: 2%;
    width: 100%;
}

#about img {
/*  ? can I use flex to avoid stretching */
    width: 30vh
}



/* Work Styling */
.info {
    border-left: 5px solid var(--green);
    padding-left: 2%;
    width: 100%;
    text-align: center;

}

/* ? Matching image sizes */
/* Large Image */
#large-image {
    position: relative;
}

#large-image a {
    background-color: var(--green);
    color: var(--red);
    font-weight: 600;
    padding: 1% 5% 1% .5%;
    font-size: 160%;
    position: absolute;
    left:20%;
    bottom: 15%;
}

#large-image img {
    width: 60%;
    border: 4px solid var(--red);
}

/* Small Image */
#smaller-images {
    margin: 1% 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#smaller-images img {
    width: 96%;
    border: 4px solid var(--red);
    
}

/* Projecs */
.projects {
    position: relative;
    text-transform: uppercase;
    font-size: 130%;
    font-weight: 545;
    width: 40%;
    margin: 1% 2%;
}

.projects a{
    position: absolute;
    bottom: 15%;
    background-color: var(--green);
    color: (var(--red));
    padding: 1% 3% 1% .5%;
    font-size: 120%;
}

/* Contact Styling */
#contact {
    display: flex;
    color: var(--red);
    background-color: var(--green);
    padding-bottom: 3%;
}

#contact ul {
    display: flex;
    font-size: 160%;
    width: 100%;
}

#contact li{
    padding: 1%;
    margin: 0% 3%;
    text-decoration: underline;
}

@media only screen and (max-width: 1280px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        justify-content: center;
    }
    .content {
        flex-direction: column;
        display: block;
        border-left: 0px;
        text-align: center;
    }
    .flex-info {
        display: block;
        border-left: 0px;
    }
    .info {
        display: block;
        border-left: 0px;
    }

    h2 {
        width: 100%;
        justify-content: center;
    }

    .content ul {
        flex-direction: column;
    }
}

@media only screen and (max-width: 640px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    nav ul {
        flex-direction: column;
    }
}
